.nametag {
	background-color: red;
	height: 350px;
	width: 550px;
	display: grid;
	grid-template-rows: 1fr 2fr 1fr;
	border-radius: 15px;
	text-align: center;
}

.hello {
	color: white;
}

.name {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	font-family: cursive;
}

.bottom {
	background-color: red;
}
